.navbar-brand {
  font-family: 'Bungee Shade';
  font-size: 36px;
  color: #ffffff;
  padding-top: 10px;
}
#wrapper {
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-family: 'Bungee Shade';
  font-size: 80px;
  color: #00008B;
}
.jumbotron {
  background-color: #6495ED;
}
.navbar {
  background-color: #6495ED;
}
.btn-primary {

}
